# Sourced from https://github.com/github/gitignore/blob/main/Nextjs.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Temporary content cloning directory
_tmp/

# Reference files
api-reference/
reference/

# Documentation articles
articles/*/
articles/**/*.md
articles/**/*.yml
!articles/content.yml
!articles/demo.yml

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts